.container{
    margin-bottom: 50px;
}
#banner{
    background-image: url('bg-2.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
}

.col-md-7{
     background-image: url('bg-1.png');
     background-repeat: no-repeat;
}
.col-md-5{
   padding-left: 170px;
}

.matha a{
    text-decoration: none;
    color: orange;
}

.card{
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
}


.carousel-indicators [data-bs-target]{
    background-color: orange;
}

u{
    border-bottom: orange solid 4px;
    text-decoration: none;
     border-radius: 4px;
}

.col-md-3 .row{
    margin-top: 100px;
}

.card p{
    text-align: center;
}

footer p{
    color: grey;
    text-align: center;
}